- hosts: web
  become: true
  vars:
    aws_region: ap-southeast-1
    aws_account_id: 439196889861
    ecr_repo: devops-bootcamp/final-project-zeddazmi
    image_tag: latest
    image_full: "{{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com/{{ ecr_repo }}:{{ image_tag }}"

  tasks:
  - name: Install AWS CLI
    apt:
      name: awscli
      update_cache: yes

  - name: Login to ECR
    shell: |
      aws ecr get-login-password --region {{ aws_region }} \
      | docker login --username AWS --password-stdin {{ aws_account_id }}.dkr.ecr.{{ aws_region }}.amazonaws.com
    args:
      executable: /bin/bash

  - name: Install Python pip
    apt:
     name: python3-pip
     update_cache: yes

  - name: Install Docker SDK for Python
    pip:
     name: docker


  - name: Run container from ECR image
    docker_container:
     name: my-devops-project
    image: "{{ image_full }}"
    state: started
    restart_policy: always
    ports:
      - "80:80"
    env:
      USER_NAME: "Zedd Azmi"

