- hosts: monitoring
  become: true
  tasks:
    - name: Install Python pip
      apt:
        name: python3-pip
        update_cache: yes

    - name: Install Docker SDK for Python
      pip:
        name: docker

    - name: Create config dir
      file:
        path: /opt/prometheus
        state: directory

    - name: Copy prometheus config
      copy:
        src: ../files/prometheus.yml
        dest: /opt/prometheus/prometheus.yml

    - name: Run Prometheus
      docker_container:
        name: prometheus
        image: prom/prometheus:latest
        state: started
        restart_policy: always
        ports:
          - "9090:9090"
        volumes:
          - /opt/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

    - name: Run Grafana
      docker_container:
        name: grafana
        image: grafana/grafana:latest
        state: started
        restart_policy: always
        ports:
          - "3000:3000"
